<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Using Ad Hoc Reports</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="WineGPS" />
		<meta name="keywords" content="cellar,wine,winegps,vingps,vinogps" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="robots" content="index, follow" />
		<meta id="viewport" name="viewport" content="width=device-width" />
		<meta name="format-detection" content="telephone=no" />
		<link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="../../../css/base.css" type="text/css" />
		<link rel="stylesheet" href="../../../css/columns.css" type="text/css" />
		<link rel="stylesheet" href="../../../css/shadow.css" type="text/css" />
		<script type="text/javascript" src="../../../js/support.js"></script>
	</head>
	<body>
		<div class='container1'>
			<div class="columnl">
				<a href="https://apps.apple.com/app/id1529340774">
					<img src='../../../images/logo.png' class='toclogo'>
				</a>
			</div>
			<div class="columnr">
				<a href="https://apps.apple.com/app/id1529340774" style="text-decoration:none">
					<h2>WineGPS Tutorials</h2>
				</a>
			</div>
		</div>
		<br>
		<br>
		<div style="padding: 20px;">
			<div class="card">
				<center>
					<p style="text-align:left;padding: 20px;"> Learn how to design and run custom reports for wines in your cellar. Save and edit reports to get them just right. View the report on your device. Print or export reports using the cloud. Build a library of reports you use often. </p>
					<video id="video" width="70%" controls onended="rewind()">
						<source src="../media/Using%20Ad%20Hoc%20Reports.mp4" type="video/mp4"> Your browser does not support HTML video.
					</video>
				</center>
			</div>
		</div>

		<div id="footer">
			&copy; 2024 WineGPS 
		</div>

		<a href="https://apps.apple.com/app/id1529340774">
			<img src='../../../images/AppStoreLogo.svg' class='toclogo'>
		</a>
	</body>
</html>